<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="stylesheet" type="/css/test.css">
    <script src="/js/test.js" defer></script>
</head>

<th:block th:replace="/fragment/header :: headerFragment"></th:block>

<body>
<th:block layout:fragment="content"></th:block>
<th:block th:replace="/fragment/footer :: footerFragment"></th:block>
</body>
</html>