<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<th:block layout:fragment="css"></th:block>
<th:block layout:fragment="script"></th:block>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/resources/static/js/test.js"></script>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/test.css">
</head>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/resources/static/js/test.js"></script>


<div layout:fragment="content">
    <body onload="threadStart()">
    <div id="loading-image">
        <img src="/images/loading.gif">
    </div>
    <div id="loading-text">
        <p th:text="|${subject} 조회 테스트 진행 중..|"></p>
    </div>
    </body>

</div>
</html>